/* """"""""""""Блок чата"""""""""""""""""""" */

.chat-widget-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: flex-end;
}

.chat-widget {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chat-content {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
}

.messages-list {
  list-style: none;
  padding: 0;
}

.message {
  /* padding: 5px 10px;
  margin: 5px 0;
  border-radius: 5px;
  max-width: 70%; */
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px; 
}

.user {
  border-radius: 10px;
  background-color: #94f7c6;
  align-self: flex-end;
  display: inline-block;
}

.bot {
  border-radius: 10px;
  background-color: #e0dde0;
  align-self: flex-start;
  display: inline-block;
}

.chat-input {
  display: flex;
  padding: 10px;
}

#messageInput {
  flex-grow: 1;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

#sendButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}

.chat-widget-toggle {
  cursor: pointer;
  margin-left: 10px;
}

.message {
  display: flex;
  align-items: flex-end;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
}

.user .avatar {
  margin-left: 10px;
  margin-left: auto;
}

.bot .avatar {
  margin-right: 10px;

  margin-right: auto;
}

.message-content {
  max-width: 70%;
  padding: 10px; /* Добавляем отступ вокруг контента сообщения */
  border-radius: 10px;
  background-color: #e0e0e0; /* Цвет фона контента сообщения */
  position: relative;
  animation: messageWidthAnimation 1s linear; 
  display: flex; /* Добавляем flex-контейнер */
  align-items: center; /* Выравниваем элементы вертикально */
}

@keyframes messageWidthAnimation {
  from {
    max-width: 100%; /* Исходная ширина сообщения */
  }
  to {
    max-width: 70%; /* Суженная ширина сообщения */
  }
}

.user .message-content {
  margin-left: auto; /* Сдвигаем контент пользователя вправо */
  background-color: #94f7c6;
  flex-direction: row-reverse;
}

.bot .message-content {
  margin-right: auto; /* Сдвигаем контент бота влево */
  flex-direction: row; 
}
