
  .widget-header {
    background-color: #ddd;
    padding: 8px;
    cursor: move;
    display: flex;
    justify-content: flex-end; /* Выравнивание элементов по правому краю */
    padding: 10px;
  }
  

  .resizable-widget {
    flex: 1; /* Равномерное распределение пространства между виджетами */
    position: relative;
    min-width: 400px;
    min-height: 600px;
    background-color: #FBFBFC;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    margin-right: 10px; /* Добавляем немного отступа между виджетами */
    
  }
  
  /* Дополнительный стиль для кнопок закрытия */
  .close-button {
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
  }

  .resize-handle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    cursor: nwse-resize; /* Resize cursor */
    background-color: #000;
  }


  .widget-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    padding: 10px;
  }
  

  .resizable-widget {
    display: none;
  }
  
  .active-widget {
    display: block;
  }

  /* Стилизация таблицы */
.widget-table {
  font-family: "RobotoFlex", sans-serif;
  font-size: 16px;
  color: #242222;
  width: 100%;
  border-collapse: separate; /* Используем отдельные границы для ячеек */
  border-spacing: 0;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Тень */
  overflow: hidden;
}

.widget-table th,
.widget-table td {
  padding: 12px 16px;
  text-align: center;
}

.widget-table th {
  position: relative;
}

.widget-table th::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ccc;
}

.widget-table th:nth-child(1),
.widget-table td:nth-child(1) {
  width: 20px;
}

.widget-table th:nth-child(2),
.widget-table td:nth-child(2) {
  width: 120px;
}

.widget-table tbody tr {
  border-bottom: 1px solid #ccc;
  transition: background-color 0.2s ease-in-out; /* Анимация при наведении */
}

.widget-table tbody tr:hover {
  background-color: #f2f2f2; /* Изменение цвета при наведении */
}

.widget-table tbody tr:last-child {
  border-bottom: none;
}

.widget-table th,
.widget-table td {
  border: none;
}

/* Стили для разных статусов */
.widget-table td.green-row {
  background-color: #e1f3df;
}

.widget-table td.highlight {
  position: relative;
}

.widget-table td.highlight span {
  background-color: #fffacd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.widget-table tr.red-row {
  background-color: #f8e5e5;
}
 /* .highlight{
  background-color: aqua;
  line-height: 1;
  margin: 0; 

  border-radius: 5px;
 } */

 .highlight {
  position: relative;
}

.highlight span {
  display: inline-block;
  background-color: rgb(242, 250, 136);
  padding: 2px 6px; /* Подберите отступы по вашему усмотрению */
  margin: 0;
  border-radius: 5px;
}
  .red-row {
    background-color: rgb(231, 130, 130);
  }
  
  .green-row {
    background-color: rgb(118, 243, 118);
    border-radius: 2px;
  }
  
  .yellow-row {
    background-color: rgb(243, 243, 117);
  }


  .widget-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 10px;
  }
  

  .widget-columns {
    display: flex;
    padding: 10px;
    width: 98%;
    height: 98%;
  }
  
  .widget-table-column {
    width: 100%;
    overflow: auto; /* Добавляем прокрутку при необходимости */
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px; /* Скругление углов */
    border: 1px solid #ccc; /* Обводка */
    height: 80%; /* Добавляем высоту 100% */
    

  }
  
  .widget-text-column {
    width: 39%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    height: 80%;
    overflow: hidden;

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Анимации */
    transform: translateY(0); /* Начальное состояние */
  }
  
  .widget-text-column:hover {
    transform: translateY(-5px); /* Изменение положения при наведении */
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  .widget-text-top {
    padding-bottom: 10px;
  }
  
  .widget-text-bottom {
    flex-grow: 1;
    overflow: hidden;
  }
  
  .widget-text-content {
    flex-grow: 1;
    padding: 10px;
  }
  
  .widget-images-panel {
    width: 160px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Анимации */
    transform: translateY(0); /* Начальное состояние */
  }
  
  .widget-images-panel:hover {
    transform: translateY(-3px); /* Изменение положения при наведении */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .file-panel {
    width: 100%;
    text-align: left;
  }


  .chat-widget-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }
  
  .chat-widget {
    width: 400px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    border-radius:  10px;
  }
  
  .chat-header {
    display: flex;
    height: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0Px; /* Уменьшаем вертикальный отступ */
    border-bottom: 1px solid #ccc;
  }
  
  .chat-content {
    padding: 10px;
    
  }
  
  .chat-widget-toggle {
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: block; /* По умолчанию иконка видна */
  }

.chat-icon{

 width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: block;
}

/* Стили для скрытия чата */
.chat-widget-container .chat-widget {
  display: none;
}

.chat-widget-container.active .chat-widget {
  display: block;
}
/* """"""""""""Блок чата"""""""""""""""""""" */

.chat-widget-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: flex-end;
}

.chat-widget {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chat-content {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
}

.messages-list {
  list-style: none;
  padding: 0;
}

.message {
  /* padding: 5px 10px;
  margin: 5px 0;
  border-radius: 5px;
  max-width: 70%; */
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px; 
}

.user {
  border-radius: 10px;
  background-color: #94f7c6;
  align-self: flex-end;
  display: inline-block;
}

.bot {
  border-radius: 10px;
  background-color: #e0dde0;
  align-self: flex-start;
  display: inline-block;
}

.chat-input {
  display: flex;
  padding: 10px;
}

#messageInput {
  flex-grow: 1;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

#sendButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}

.chat-widget-toggle {
  cursor: pointer;
  margin-left: 10px;
}

.message {
  display: flex;
  align-items: flex-end;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
}

.user .avatar {
  margin-left: 10px;
  margin-left: auto;
}

.bot .avatar {
  margin-right: 10px;

  margin-right: auto;
}

.message-content {
  max-width: 70%;
  padding: 10px; /* Добавляем отступ вокруг контента сообщения */
  border-radius: 10px;
  background-color: #e0e0e0; /* Цвет фона контента сообщения */
  position: relative;
  animation: messageWidthAnimation 1s linear; 
  display: flex; /* Добавляем flex-контейнер */
  align-items: center; /* Выравниваем элементы вертикально */
}

@keyframes messageWidthAnimation {
  from {
    max-width: 100%; /* Исходная ширина сообщения */
  }
  to {
    max-width: 70%; /* Суженная ширина сообщения */
  }
}

.user .message-content {
  margin-left: auto; /* Сдвигаем контент пользователя вправо */
  background-color: #94f7c6;
  flex-direction: row-reverse;
}

.bot .message-content {
  margin-right: auto; /* Сдвигаем контент бота влево */
  flex-direction: row; 
}

/* """"""""""""Виджет цехов"""""""""""""""""""" */
.equipmentIcon {
  width: 80px;
  height: 80px;
  border: 2px solid black;
  font-size: 20px;
  border-radius: 5px;
  flex-shrink: 0;
  margin-bottom: 20px;
}

.lineOfEquipment {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 55px;
  width: 90%;
  justify-content: flex-start;
}

.rightLineOfEquipment {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 55px;
  width: 90%;
  justify-content: flex-end;
}

.centerLineOfEquipment {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 55px;
  width: 90%;
  justify-content: center;
}

.TsekhMap {
  width: 90%;
  padding: 20px;
  height: 90%;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.backGround-color-red{
  background-color: #FB6161;
}

.backGround-color-yellow{
  background-color: #FEF406;
}

.backGround-color-green{
  background-color: #71DC7B;
}

.backGround-color-grey{
  background-color: #EBE7E7;
}
.blockName {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-right: auto;
  color: #444343;
}
.factory-map {
  width: 97%;
  height: 50vh;
  padding: 10px;
  border: 1px solid #e0dde0;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.workshop {
  width: 80px;
  height: 80px;
  border: 2px solid #222222; /* Добавляем обводку */
  border-radius: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: #222222;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
}
.workshop:hover {
  background-color: #bebebe;
}
.workshop-name {
  align-self: flex-start;
  margin-bottom: 5px;
}
.workshop-info {
  font-size: 12px;
  align-self: center;
}
.widget-content{
  padding: 10px;
}


/* """"""""""""Виджет сотрудников"""""""""""""""""""" */

.WorkersBlock {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#myTableWorker {
  width: 100%;
  border-collapse: collapse;
}

#myTableWorker th,
#myTableWorker td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#myTableWorker th {
  background-color: #e0e0e0;
  font-weight: bold;
  cursor: pointer;
}

#myTableWorker th:hover {
  background-color: #d0d0d0;
}

.imgCircle {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.imgCircle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.WorkersBlock span {
  vertical-align: middle;
}

.WorkersBlock td {
  border-left: none;
  border-right: none;
}

.WorkersBlock tr:last-child td {
  border-bottom: none;
}

.WorkersBlock td:last-child {
  border-right: none;
}

.WorkersBlock tbody tr[data-target]:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/*№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№ Стили панели виджетов*№№№№№№№№№№№№№№№№№№№*/
/* План выполнения заказов */

.container {
  font-family: Arial, sans-serif;
  padding: 10px;
}

/* Стиль для заголовков с тенью */
.workshop-title1, .projects_name_list, .TaskWorkShopTask.tasks_name_list {
  cursor: pointer;
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавляем тень */
  transition: background-color 0.3s, box-shadow 0.3s; /* Добавляем плавные переходы */
}
.workshop-title1 {
  height: 10px; /* Устанавливаем высоту 40px */
  font-size: 14px;

  margin-bottom: 0; /* Убираем нижний отступ */
}

.projects1 {
  /* ... остальные стили ... */
  margin-top: 0; /* Убираем верхний отступ */
}
.active {
  background-color: #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Увеличиваем тень при активации */
}

/* Стили для списков и подсписков */
.projects1, .sub-projects1, .sub-task-projects1 {
  list-style: none;
  padding-left: 20px;
  display: none;
}

/* Стиль для элементов задач */
.TaskWorkShopTask {
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.GreenTask {
  background-color: #d0f3d0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.BlueInfo {
  background-color: #cce0ff;
}

.YellowTask {
  background-color: #f8e5ac;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.RedTask {
  background-color: #fdd4d4;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Стили для описания задач и даты выполнения */
.tasks-info, .task-info {
  list-style: none;
  padding-left: 20px;
  display: none;
  margin-top: 5px;
}

.GrayInfo {
  background-color: #f2f2f2;
}

.user-row {
  display: flex;
  align-items: center;
}

.user-avatar img {
  padding-top: 5px;
  width: 40px; /* Размер аватарки */
  height: 40px;
  border-radius: 50%; /* Для создания круглой аватарки */
  justify-content: center;
}

.user-info {
  display: flex;
  align-items: center;
  color: #000000;
}

.user-details {
  display: flex;
  flex-direction: column;
  margin-right: 10px; /* Отступ между аватаркой и деталями пользователя */
}

.user-name{
  margin: 0;
  color: #000000; /* Изменяем цвет имени пользователя */
}

.user-status {
  color: #2c2c2c; /* Цвет для статуса */
}
.user-text-color {
  color: #050505; /* Замените на желаемый цвет */
}
.user-id {
  margin: 0;
  font-size: 14px;
  color: #000000; /* Серый цвет для табельного номера */
}
.with-margin {
  margin-right: 10px; /* Добавляем отступ справа 10 пикселей */
}
.icon-and-text {
  display: flex;
  align-items: center;
  height: 10px; /* Устанавливаем высоту 20px */
}

.icon-and-text img {
  margin-right: 10px; /* Отступ между иконкой и надписью */
}

.TaskBasicText.icon-text {
  font-size: 16px;
  margin: 0; /* Убираем отступы по умолчанию у параграфа */
}

.arrow-picture {
  width: 20px; /* Устанавливаем ширину 20px */
  height: 10px; /* Устанавливаем высоту 10px */
} /* Устанавливаем высоту 20px */
.left-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 520px; /* Добавьте нужный вам отступ слева */
}

.frame {
  background-color: #ffffff; /* Изменяем цвет фона */
  height: 60px;


  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Добавляем тень */
}